body{
    background-image: url("https://ae01.alicdn.com/kf/HTB1gM.xJMHqK1RjSZJnq6zNLpXaR/LIFE-MAGIC-BOX-Photocall-PARTY-Photo-Studio.jpg_Q90.jpg");
   
  }
  .menu{
    font-size: 125%;
    margin-right: 5%;
    text-align: right;
  }
  h1{
      background-color: rgb(10, 247, 49);
      width: 200px;
      border: 15px solid rgb(245, 43, 7);
      padding: 25px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: cursive;
      color: rgb(196, 8, 243);
      font-size: 50px;

    }
    p{
      text-align: center; 
      font-size: 200%;
      color: rgb(27, 248, 7);
     
  }
        
    
  
    

    